keras==1.1.0
theano==1.0.2
numpy==1.13.0
tensorflow==2.9.3
# 
# scikit-learn
# 
# # tools
# jupyterlab
# matplotlib
# seaborn
# 
# # utils
# autopep8
# pylint
# # html5lib version 1.0.1 or newer to make tensorboard happy
# html5lib==1.0.1
# pydot
# 
# # Image libraries
# opencv-python
# # required for PIL -- image manipulation, at least in gan.py
# pillow
